services:
  # 1. Tu API (.NET)
  pms-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pms_zafiro_api
    environment:
      - FrontendUrl=https://hotelzafiro.online
      - ASPNETCORE_ENVIRONMENT=Production
      # Conexión interna directa a la base de datos (nombre del servicio 'pms-db')
      - ConnectionStrings__DefaultConnection=Host=pms-db;Port=5432;Database=zafiro_db;Username=postgres;Password=${DB_PASSWORD}
      - JwtSettings__Key=${JWT_KEY}
    ports:
      - "8080:8080"
    depends_on:
      - pms-db
    networks:
      - pms-network
    restart: always

  # 2. Tu Base de Datos (PostgreSQL Local)
  pms-db:
    image: postgres:15-alpine
    container_name: pms_zafiro_db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=zafiro_db
    volumes:
      - postgres_data:/var/lib/postgresql/data # Esto guarda los datos aunque reinicies
    networks:
      - pms-network
    restart: always

volumes:
  postgres_data:

networks:
  pms-network:
    driver: bridge